# Environment variables
.env
.env.local
.env.*.local

# Node modules / Dependencies
node_modules/

# Logs & Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/

# Operating System files
.DS_Store
Thumbs.db